.player {
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    background-color: #0C344B;
    height: 200px;
    z-index: 1020;
    width: 100%;
    padding-bottom: 90px;
}

input[type="range"] {
    -webkit-appearance: none !important;
    margin: 0;
    padding: 0;
    background: #707070;
    height: 10px;
    overflow: hidden;
    border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
    background: #707070;
}

input[type="range"]::-webkit-slider-thumb {
    background: #40ACF4;
    height: 8px;
    width: 6px;
    border-radius: 50%;
    box-shadow: -100vw 0 0 100vw #40ACF4;
}

.w-85 {
    width: 85%;
}

.round-button {
    box-sizing: border-box;
    display: block;
    width: 80px;
    height: 80px;
    padding-top: 14px;
    padding-left: 8px;
    line-height: 20px;
    border: 6px solid #1f2d88;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background-color: #082333;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.round-button-none {
    box-sizing: border-box;
    display: block;
    width: 80px;
    height: 80px;
    padding-top: 18px;
    padding-left: 8px;
    line-height: 20px;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.round-button-none:hover {
    background-color: transparent;
    color: #f5f5f5;
}

.round-button:hover {
    color: white;
}

.gradient-border {
    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(45deg, #1793e8, #c5dcee) border-box;
    border: 5px solid transparent;
    border-radius: 50px;
}

.gradient-border-none {
    border: none
}

.text-blue {
    color: #40ACF4;
}

.border-none {
    border: none;
    background: transparent;
}

.initials {
    font-size: medium;
    padding-bottom: 5px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    top: 50%;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #0C344B;
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropup-content .vol {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ddd
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: transparent;
}

.vol:hover {
    background-color: white;
    color: #0C344B;
    border-radius: 15px;
}

.volume-tip {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -10px;
    background-color: #1793e8;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}

.share{
    color: white;
    background-color: #0C344B;
    width: 100%;
    display: block;
    border-radius: 20px;
    height: 40px;
}

.share:hover{
    background-color: white;
    color: #0C344B;
}

.share-items{
    padding: 10px;
    border-bottom: 1px solid #0C344B;
    height: auto;
}