.header_logo > a > img {
    width: 200px;
}

.header_logo {
    float: left;
}

.sort {
    position: fixed;
    font-size: 16px;
    opacity: 1;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}