.header_logo > a > img {
    width: 200px;
}

.header_logo {
    float: left;
}

.sort {
    position: fixed;
    font-size: 16px;
    font-size: 1rem;
    margin: 0 !important;
    padding: 0px;
    opacity: 1;
    color: white;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.header-on-scroll {
    background: linear-gradient(
            to bottom,
            #6c53ff,
            #5b4bb6,
            #363280

    ) no-repeat;
}