li{
    background-color: #B6DEF5;
    margin: 10px 0 10px 80px;
   
}
li:active{
    background-color: #74C5F3;
}
li:hover{
    background-color: #74C5F3;
}
li{
    list-style-type: none;
}

/* .track-title{
    font-size: 2px;
    font-weight: bold;
    padding: 20px 5px 20px 5px;
    width: fit-content;
} */

.trackContainer{
    height: 6rem;
}

.trackContainer.active{
    border-left: #0C344B solid 5px;
    background-color: #74C5F3;
}

.trackContainer>* {
    padding: 25px;
}

.fa-down-to-bracket{
    font-size: 27px;
    width: 20px;
    top: 0;
    column-count: 1;
    column-gap: 20px;
}
/* #download{
    padding-bottom: 10px;
} */
.track-title{
    font-weight: bold;
    font-size: 20px;
    padding: 16px 0px 2px 0px;
    font-family: GoogleSans, sans-serif bold;
    margin-left:3rem;
}
.track-podcast-name{
    margin-left:8rem;
}

#telegram{
    width: 45%;
    size: 40px;
}
#Logname{
    font-size: larger;
}