html{
  background: linear-gradient(
          to right,
          #ffffff 0%,
          #ffffff 50%,
          #082333 50%,
          #082333 100%
  );
  display: flex;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}