@font-face {
    font-family: "GoogleSansBold";
    src: url("./fonts/GoogleSans-Bold-v1.27.ttf");
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Courier sans-serif;
    -webkit-background: linear-gradient(to bottom, #6c53ff, #363280) no-repeat cover;
    -moz-background: linear-gradient(to bottom, #6c53ff, #363280) no-repeat cover;
    -o-background: linear-gradient(to bottom, #6c53ff, #363280) no-repeat cover center;
    background: url("./assets/human_with_phone.png") no-repeat bottom right  -30px,
    url("./assets/earphone.png") no-repeat top right -62.875244140625px fixed,
    linear-gradient(to bottom, #6c53ff, #363280) no-repeat;
    background-size: 309px, 299px, cover;
    background-attachment: fixed;
}
#track{
    padding-right: 40%;
}
@media (min-width: 996px) {
    .sort {
        margin-left: 120px;
    }
    
    input {
        margin-left: 5630px;
    }
    .side-bar{
        position: fixed; 
        z-index: 1;
        margin: 0 !important;
        padding:0 !important;
        flex-direction: column-reverse;
    }
    
    
}
#tele{
    padding-top: 40px;
    margin-right: 80px;
    font-family:'Comfortaa';
    color: #c4c1c1fa;
    font-size: 20px;
    word-spacing: 0px;
}
#comm{
    font-size: 23px;
}
#line{
    width: 45%;
    border: 3px solid #B6DEF5;
   
}
#teleg{
    width: 45%;
    size: 40px;
}
@media (min-width: 100px) and (max-width: 983px){
    body {
        background-size: 250px, 200px, cover;
    }

    .sort {
        margin-top: 12px;
        position: sticky;
    }
   
    input {
        width: 100%;
    }
    .track-title{
        font-size: 20px !important;
    }

    .trackContainer.active{
        border-left: #0C344B solid 5px;
        background-color: #74C5F3;
    }

    .trackContainer>* {
        padding: 25px;
    }

    .fa-down-to-bracket{
    }

    .track-title{
        font-family: GoogleSans, sans-serif bold;
    }

    .track-podcast-name{

    }

    .header{
        position: sticky;
        width: 100%;
    }
    
    
}
.row{
    margin:0 !important 
}
.container{
    margin: 0 !important;
}
/* ul{
    margin: 0 !important;
} */