ul {
    margin: 0 auto;
    list-style: none;
    flex-direction: column;
}

li{
    background-color: #B6DEF5;
    margin: 10px 0 10px 0;
}
li:active{
    background-color: #74C5F3;
}
li:hover{
    background-color: #74C5F3;
}
.track_play {
    top: 193px;
    height: 90px;
    color: #082333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.podcastlist_but {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.track_playlist {
    text-align: center;
    flex-direction: row;
    list-style: none;
}

span.track_title {
    font-weight: bold;
    color: #082333;
    font-size: 20px;
}

span.track_name {
    color: #707070;
    font-size: 10px;
    line-height: 9%;
}