.header_logo > a > img {
    width: 10rem;
}

.header_logo {
    float: left;
}

.sort {
    font-size: 16px;
    padding-right: 50%;
    opacity: 1;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    height: 5rem;
}

.header-on-scroll {
    background: linear-gradient(
            to bottom,
            #6c53ff,
            #5b4bb6,
            #363280
    ) no-repeat;
}


/* Search form CSS */

/********* Beginning CSS ************/

input[type="search"] {
    color: #E4E4E4;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #0C344B 0 0 no-repeat padding-box !important;
    height: 40px !important;
}

input[type="search"]::placeholder {
    color: #bbb;
}

input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    z-index: 1;
    border-color: #1183d6;
    outline: none;
}

/******** End CSS ********/