@font-face {
    font-family: "GoogleSansBold";
    src: url("./fonts/GoogleSans-Bold-v1.27.ttf")format('ttf'),
    url("./fonts/GoogleSans-Medium-v1.27.ttf")format('ttf');
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Courier sans-serif;
    -webkit-background: linear-gradient(to bottom, #6c53ff, #363280) no-repeat cover;
    -moz-background: linear-gradient(to bottom, #6c53ff, #363280) no-repeat cover;
    -o-background: linear-gradient(to bottom, #6c53ff, #363280) no-repeat cover center;
    background: url("./assets/human_with_phone.png") no-repeat bottom 97px right -50px,
    url("./assets/earphone.png") no-repeat top -30px right -44px fixed,
    linear-gradient(to bottom, #6c53ff, #363280) no-repeat;
    background-size: 480px, 199px, cover;
    background-attachment: fixed;
}

@media (min-width: 996px) {
    .sort {
        margin-left: 120px;
    }

    .track-title {
        font-size: 20px;
    }


    .side-bar{
        position: fixed; 
        z-index: 1;
        margin: 0 !important;
        padding:0 !important;
        flex-direction: column-reverse;
    }
}
#content{
    padding-top: 40px;
    margin-right: 80px;
    color: rgb(243, 237, 237);
    font-size: 20px;
    word-spacing: 0px;
}
#line{
    width: 45%;
    border: 3px solid #74C5F3;
}

    .header_logo {
        margin-right: 190px
    }

    i.fas.fa-search {
        margin: 0 5px 0 -31px !important;
    }

    .player {
        position: -webkit-sticky;
        position: fixed;
        bottom: -33px;
        background-color: #0C344B;
        height: 170px;
        z-index: 1020;
        width: 100%;
    }

    .w-85 {
        width: 85%;
    }

@media (min-width: 100px) and (max-width: 983px) {
    body {
        background-size: 250px, 200px, cover;
    }

    i.fas.fa-search {
        margin: 0 5px 0 -25px !important;
    }

    .trackContainer.active {
        border-left: #0C344B solid 5px;
        background-color: #74C5F3;
    }

    .trackContainer > * {
        padding: 25px;
    }

    .fa-down-to-bracket {
    }

    .track-title {
        font-family: GoogleSans, sans-serif bold;
    }

    .track-podcast-name {

    }

    .header {
        position: sticky;
        width: 100%;
    }
    .player {
        position: -webkit-sticky;
        position: fixed;
        bottom: -5px;
        background-color: #0C344B;
        height: 150px;
        z-index: 1020;
        width: 100%;
    }

    .track-time{
        font-size: 8px !important;
    }
}
.row{
    margin:0 !important 
}
.container{
    margin: 0 !important;
}